.skillsBlock {
    background-color: #274d93;
    padding: 100px 0;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: antiquewhite;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1250px) {
    .skills {
        justify-content: center;
    }
}