@import './src/common/styles/sass/variables';

.nav {
  //border: 2px solid black;
  width: 300px;
  display: flex;
  justify-content: space-around;

  .navBtn {
    color: $primaryColor;
    text-decoration: none;
    font-family: $textFontFamily;
  }
}