@import './src/common/styles/sass/variables';

.projectsBlock {
  background-color: $backGroundColor;
  padding: 100px 0;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .projects {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;
      @media screen and (min-width: 1129px) {
        justify-content: space-between;
      }
    }
  }
}


